.form-group {
    text-align: center;
    .form-control option {
        .has_value {
            font-weight: bolder;
        }
    }
}


.badge-pill {
    position: absolute;
    right: 0;
    margin: 2em;
}
