<form (ngSubmit)="onSubmit()">
  <label>
    First Name:
    <input type="text" formControlName="name" required [ngValue]="queryset.name">
  </label>

  <label>
    Model:
    <select formControlName="model">
      <option value="">Choose a model</option>
      <option *ngFor="let model of models" [ngValue]="model.id" [selected]="model.id == queryset.model.id">{{ model.name }}</option>
    </select>
  </label>

  <label>
    Distinct:
    <input type="checkbox" formControlName="distinct" [checked]="model.distinct">
  </label>



  <button type="submit" [disabled]="!querysetForm.valid">Submit</button>
</form>

<hr>

<p>
Form Value: {{ querysetForm.value|json }}
</p>


<p>
  Form Status: {{ querysetForm.status }}
</p>
